@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins";
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
nav li a {
  text-decoration: none;
  color: black;
}
.banner {
  display: flex;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;

  gap: 150px;
}
.banner-description {
  width: 582px;
  height: 270px;
  margin-top: 100px;
}
.banner img {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.btn-primary {
  margin-top: 20px;
  background-color: rgba(224, 44, 109, 1);
  width: 196px;
  color: white;
  font-weight: bold;
  height: 44px;
  border-radius: 18px;
  border: 0px;
}
.advertise-container {
  margin: 60px 200px;
  display: flex;
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 20px;
  justify-content: space-between;
}
.advertise-container img {
  padding: 0px 10px;
}
.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection-heading {
  align-items: center;
  text-align: center;
}
.collection-container {
  margin: 30px 30px 10px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cart {
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.cart .description {
  font-size: 0.5rem;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  width: 100%;
  margin-right: 260px;
}
.btn-secondary {
  border: 0px;
  background: none;
  color: rgba(224, 44, 109, 1);
  border-radius: 10px;
}
.features {
  display: flex;
  justify-content: space-around;
  margin: 100px;
  gap: 50px;
}
.features-description {
  width: 500px;
  height: 250px;
}
.features-description p {
  margin: 20px 0px;
}
.btn-third {
  background-color: rgba(224, 44, 109, 1);
  width: 196px;
  color: white;
  font-weight: bold;
  height: 44px;
  border: 0px;
}
footer {
  background: rgba(10, 8, 38, 1);
  color: white;
  text-align: center;
  padding: 30px;
}
footer p {
  margin: 10px;
  font-size: 0.7rem;
}
.social-media i {
  margin: 10px;
}
@media screen and (max-width: 576px) {
  nav > ul,
  nav > h3 {
    display: none;
  }

  nav,
  nav > .hide,
  .banner img,
  .advertise-container {
    margin: 0;
    padding: 0;
  }
  nav > .hide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 30px 20px;
    font-size: 15px;
  }
  .banner {
    margin: 0;
    gap: 0;
    flex-direction: column-reverse;
    width: 100%;

    align-items: center;
  }
  .banner-description .banner-description-header,
  .banner-description .banner-description-para,
  .banner-description .btn-primary {
    margin: 20px 20px;
  }
  .banner-description .banner-description-header {
    font-size: 30px;
  }
  .banner-description {
    width: 100%;
    height: 100%;
    margin: 0px 0px;

    padding: 0px 0px;
    text-align: center;
  }

  .banner img {
    width: 70%;
    margin: 20px 0px;
  }
  .advertise-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border: none;
    margin: 20px 20px;
  }
  .advertise-container img {
    width: 15%;
  }
  .collection-heading {
    margin: 20px 0px;
  }
  .collection-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 0px;
  }
  .btn-container {
    margin: 20px 20px;
    align-items: center;
  }
  .features {
    flex-direction: column-reverse;
    margin: 30px 40px;
    gap: 20px;
  }
  .features-description {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
